.descSec {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

@media screen and (min-width: 600px) {
    .descSec {
        width: 100%;
        gap: 2rem;
    }
}

.descSec > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.descSec > figure > figcaption {
    padding: 0.5rem 1rem;
    background: #44475a;
    border-radius: 0.5rem;
}

.descSec > figure > figcaption > p {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .descSec > figure > figcaption > p {
        font-size: 2rem;
    }
}
