.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iframe {
    flex: 1;

    border: none;
    width: calc(100% + 2rem);
    display: block;
}
