.nav {
    display: none;
}

@media screen and (min-width: 600px) {
    .nav {
        display: block;
    }
}
.nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}
