.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    gap: 2rem;
}

@media screen and (min-width: 1000px) {
    .main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

.article {
    width: 100%;
    text-indent: 4rem;
    text-align: justify;
    padding: 10rem 2rem;
}

@media screen and (min-width: 600px) {
    .article {
        width: 40rem;
    }
}
.article > header {
    margin-bottom: 4rem;
}

.article > header > p {
    font-size: 0.8rem;
}

.img {
    float: left;
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    .footerContainer {
        height: calc(100% + 2rem);
        width: calc(100% + 2rem);
    }
}

@media screen and (min-width: 1000px) {
    .footerContainer {
        position: sticky;
        top: 0;
        height: auto;
        width: 28rem;
        padding-top: 10rem;
    }
}
@media screen and (min-width: 1000px) {
    .footer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1;

        width: 100%;
        background: #282a36;
    }
}
