.article {
    width: 35rem;
    text-indent: 4rem;
    text-align: justify;
    padding: 10rem 0;
}

@media screen and (min-width: 40px) {
    .article {
        width: 39rem;
    }
}

.article > header {
    margin-bottom: 4rem;
}

.img {
    float: left;
    margin: 1rem;
}

pre.pre {
    background: pink;
}
