.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1;

    background: #44475a;
    width: 100%;

    padding: 1rem 0.5rem;
    position: relative;
}

@media screen and (min-width: 600px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem 3rem;
    }
}

.header h1 {
    font-size: 2rem;
}

.header > nav > ul {
    list-style: none;
}

.header > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.header > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.header > a > img {
    height: 3.5rem;
}
