.topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.topSection > article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 20rem;

    flex: 1;
}

.topSection > article > h1 {
    font-size: 6rem;
}

.descSec {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.descSec figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.descSec figure figcaption {
    padding: 0.5rem 1rem;
    background: #44475a;
    border-radius: 0.5rem;
}
.ghCharts {
    padding: 2rem;
    width: 90%;

    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.ghContribs {
    padding: 2rem;
    width: 100%;
    background: #f8f8f2;
    overflow-x: auto;
}
