.dynamicDialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    padding-top: 10rem;

    width: 35rem;
}

@media screen and (min-width: 400px) {
    .dynamicDialog {
        width: 39rem;
    }
}
